
<section>
  <mat-card>
      <mat-card-title class="title">Detalles del reporte</mat-card-title>
      <mat-card-content>
          <mat-label>No. Solicitud:</mat-label>
          <br><br/>
          <mat-label>Nombre y apellidos del cliente:</mat-label>
          <br><br/>
          <mat-label>Correo Electrónico:</mat-label>
          <br><br/>
          <mat-label>Teléfono Cliente</mat-label>
          <br><br/>
          <mat-label>Dirección Cliente:</mat-label>
          <br><br/>
          <mat-label>Segundo contacto cliente:</mat-label>
          <br><br/>
          <mat-label>Estado Solicitud:</mat-label>
          <br><br/>
           <mat-label>Correo electrónico del solicitante</mat-label>
          <br><br/>
           <mat-label>Teléfono del solicitante</mat-label>
          <br><br/>
          <mat-label>Soportista:</mat-label>
          <div class="form-group col-md-4">         
                 <select id="inputState" class="form-control">
              <option selected>Seleccione el soportista</option>
              <option>Pepe</option>
              <option>Ruperto</option>
              <option>Carmelo</option>
              <option>Sandro</option>
            </select>
          </div>
           <mat-label>Estado:</mat-label>
          <div class="form-group col-md-4">         
                 <select id="inputState" class="form-control">
              <option selected>Seleccione el estado</option>
              <option>Ingresada</option>
              <option>En proceso</option>
              <option>Resuelto</option>
            </select>
          </div>
          <br><br/>
          <mat-label>Notas </mat-label>
          <br><br/>
<textarea></textarea>

        </mat-card-content>

  </mat-card>
</section>



<section class="add-margin">
<div class="chat-panel card card-default">
  <div class="card-header">
      <i class="fa fa-comments fa-fw"></i>
        Comentarios
  <div class="card-body">
      <ul class="chat">
          <li class="left clearfix">
              <span class="chat-img pull-left">
                  <img alt="User Avatar" class="img-circle image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
              </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <strong class="primary-font">Jack Sparrow</strong>
                      <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                      ullamcorper ligula sodales.
                  </p>
              </div>
          </li>
          <li class="left clearfix">
              <span class="chat-img pull-left">
                  <img alt="User Avatar" class="img-circle image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
              </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <strong class="primary-font">Jack Sparrow</strong>
                      <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                      ullamcorper ligula sodales.
                  </p>
              </div>
          </li>
          <li class="left clearfix">
              <span class="chat-img pull-left">
                  <img alt="User Avatar" class="img-circle image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
              </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <strong class="primary-font">Jack Sparrow</strong>
                      <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                      ullamcorper ligula sodales.
                  </p>
              </div>
          </li>
          <li class="left clearfix">
              <span class="chat-img pull-left">
                  <img alt="User Avatar" class="img-circle image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
              </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <strong class="primary-font">Jack Sparrow</strong>
                      <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                      ullamcorper ligula sodales.
                  </p>
              </div>
          </li>
      </ul>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
      <div class="input-group">
          <input class="form-control input-sm" id="btn-input" placeholder="Nuevo comentario..." type="text" />
          <span class="input-group-btn">
              <button class="btn btn-warning btn-sm" id="btn-chat">
                 Agregar
              </button>
          </span>
      </div>
  </div>
  <!-- /.card-footer -->
</div>
</div>
</section>