.title {
    margin-top: 10px;
  //  margin-left:550px;
    //margin-right:250px;
    padding-bottom: 10px;
    font-size: 32px;
    color:#004f92
}
.add-margin {
    margin-right: 50px
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center
  }

  table {
    width: 100%;
  
  }

  .abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
}