
<div>
  <h1 class="title centered">

    Lista del reportes

  </h1>
</div>
<br> <br/> 

<div>
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar">
  </mat-form-field>
<!--table class="table" *ngIf="students"-->
<table class="table">
  <thead>
      <tr>
          <th>No. Solicitud</th>
          <th>Servicio</th>
          <th>Fecha y hora</th>
          <th>Estado</th>
          <th>Detalles</th>
          <!--th>Soportista</th-->
        </tr>
  </thead>
  <tbody>

      <tr ><!--tr>*ngFor="let s of students; let i=index;"-->
        <!--td>{{ s.id  }}</td>
        <td>{{ s.name  }}</td>
        <td>{{ s.email  }}</td>
        <td>{{ s.nationalityName  }}</td>
        <td>{{ s.majorName  }}</td-->
       <td> 12345</td>
        <td> Cable</td>
        <td> 7/7/21</td>
        <td>En espera</td>
         <td>
          <a [routerLink]="['/detail']"> Ver </a>
      
        </td>
       

    

        </tr>
    
    </tbody>
  </table>
 
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <!--button type="button" class="btn btn-primary btn-lg">Comentar</button-->
</div>


  
   


  