@import '~@angular/material/theming';

:host ::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: right;
}

.icon-lg {
    font-size: 40px;
}

.mat-card {
    color: rgb(12, 66, 97);
    .mat-card-header {
        width: 100%;
    }
    .mat-card-title {
        font-size: 40px !important;
    }
    .mat-card-subtitle {
        color: rgb(21, 155, 179);
    }

    .mat-card-actions {
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }
}

.mat-card.danger {
    background:linear-gradient(30deg, rgb(42, 59, 214),rgb(36, 90, 207), rgb(80, 121, 245), rgb(7, 29, 228), rgb(11, 70, 235));
}

.mat-card.warn {
    background:linear-gradient(30deg, rgb(42, 59, 214),rgb(36, 90, 207), rgb(80, 121, 245), rgb(7, 29, 228), rgb(11, 70, 235));
}

.mat-card.success {
    background:linear-gradient(30deg, rgb(42, 59, 214),rgb(36, 90, 207), rgb(80, 121, 245), rgb(7, 29, 228), rgb(11, 70, 235));
}

.mat-card.info {
    background:linear-gradient(30deg, rgb(58, 85, 163), rgb(30, 45, 187), rgb(76, 124, 255), rgb(42, 59, 214),rgb(36, 90, 207));
}