.title {
    margin-top: 10px;
  //  margin-left:550px;
    //margin-right:250px;
    padding-bottom: 10px;
    font-size: 32px;
    color:#004f92
}
.add-margin {
    margin-right: 50px
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center
  }

  table {
    width: 100%;
  }

