
<div>
  <h1 class="title centered">

    Registrar usuario

  </h1>
</div>
<br> <br/> 
<div>
  <form>
    <div>
    <div class="form-row centered">
      <div class="form-group col-md-6">
        <label for="inputdescr">Nombre</label>
        <input type="text" class="form-control" id="user-name" placeholder="Nombre del usuario">
      </div>
    </div>
    <div class="form-row centered">
      <div class="form-group col-md-6">
        <label for="inputphone">Primer Apellido</label>
        <input type="text" class="form-control" id="user-lastname-1" placeholder="Primer apellido del usuario">
      </div>
    </div>
    <div class="form-row centered">
      <div class="form-group col-md-6">
        <label for="inputphone">Segundo Apellido</label>
        <input type="text" class="form-control" id="user-lastname-2" placeholder="Segundo apellido del usuario">
      </div>
    </div>
    <div class="form-row centered">
    <div class="form-group col-md-6">
      <label for="inputemail">Correo electrónico</label>
      <input type="email" class="form-control" id="user-email" placeholder="Correo electrónico">
    </div>
  </div>
  <div class="form-row centered">
    <div class="form-group col-md-6">
      <label for="inputAddress">Contraseña</label>
      <input type="password" class="form-control" id="user-password" placeholder="Nueva Contraseña">
    </div>
  </div>
  <div class="form-row centered">
      <div class="form-group col-md-6">
        <label for="inputservice">Puesto</label>
        <select id="inputService" class="form-control">
          <option selected>Seleccione un servicio</option>
          <option>Telefonía móvil</option>
          <option>Internet</option>
          <option>Cable</option>
          <option>Telefonía fija</option>
        </select>
      </div>
    </div>
    <br> <br/> 
    <div class="form-row centered">
      <div class="form-group col-md-6">
          <div fxFlex>
              <mat-checkbox color="primary">Asignar como Supervisor</mat-checkbox>
          </div>
      </div>
        <!--label class="add-margin">Asignar como Supervisor</label>
        <input  type="checkbox"-->
    </div>
      <br> <br/> 
      <div class="centered">
        <button type="submit" class="btn btn-primary mr-1 add-margin">Registrar</button>
        <button type="submit" class="btn btn-primary add-margin" [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
          Cancelar
        </button>
      </div>
    </div>
  </form>​
</div>