<!--div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Horizontal Form</h4>
        <p class="card-description">
          Horizontal form layout
        </p>
        <form class="forms-sample">
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password">
            </div>
          </div>
          <div class="form-check form-check-flat form-check-primary">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Remember me
              <i class="input-helper"></i>
            </label>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div-->

<div>
    <h1 class="title centered">

      Nuevo reporte

    </h1>
</div>
<br> <br/> 
  <div>
    <form>
      <div>
      <div class="form-row centered">
        <div class="form-group col-md-6">
          <label for="inputdescr">Descripción</label>
          <input type="text" class="form-control" id="request-description" placeholder="Descripción breve de la solicitud">
        </div>
      </div>
      <div class="form-row centered">
        <div class="form-group col-md-6">
          <label for="inputphone">Teléfono</label>
          <input type="text" class="form-control" id="contact-phone" placeholder="Teléfono de contacto">
        </div>
      </div>
      <div class="form-row centered">
      <div class="form-group col-md-6">
        <label for="inputemail">Correo electrónico</label>
        <input type="email" class="form-control" id="contact-email" placeholder="Correo de contacto">
      </div>
    </div>
    <div class="form-row centered">
      <div class="form-group col-md-6">
        <label for="inputAddress">Dirección</label>
        <input type="text" class="form-control" id="reference-address" placeholder="Dirección de referencia">
      </div>
    </div>
    <div class="form-row centered">
        <div class="form-group col-md-4">
          <label for="inputservice">Servicio</label>
          <select id="inputState" class="form-control">
            <option selected>Seleccione un servicio</option>
            <option>Telefonía móvil</option>
            <option>Internet</option>
            <option>Cable</option>
            <option>Telefonía fija</option>
          </select>
        </div>
      </div>
        <br> <br/> 
        <div class="centered">
          <button type="submit" class="btn btn-primary mr-1 add-margin">Enviar</button>
          <button type="submit" class="btn btn-primary add-margin" [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            Cancelar
          </button>
        </div>
      </div>
    </form>​
  </div>
