<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
        </a>
        <a mat-list-item [matMenuTriggerFor]="solicitudes">
                <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Solicitudes' | translate }}
               
        </a>
       
        <mat-menu #solicitudes="matMenu">
            <a mat-menu-item [routerLinkActive]="'active'" [routerLink]="['/solicitudes']">Ingresar solicitud</a>
            <a mat-menu-item [routerLinkActive]="'active'" [routerLink]="['/consultar-solicitud']">Consultar solicitud</a>
        </mat-menu>
    </mat-nav-list>     
</div>    
     
          
 
